@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    header nav a:last-child{
        margin: 0;
    }

    .main-game{
        background: url(../img/red-dead-redemption-2-wallpaper.jpg);
        height: 300px;
        background-size: cover;
    }
    
    .main-game .description{
        display: none;
    }

    .buttons{
        width: 100vw;
        display: flex;
        margin-top: 20px;
    }

    .button{
        width: 40%;
    }

    .carousel-title{
        text-align: center;
    }

    .carousel-item{
        height: 94vh;
    }

    .item-label{
        font-size: 30px;
    }

}

@media screen and (min-width: 1000px){
    .description{
        width: 50%;
    }
}